---
import { Image } from 'astro:assets';
import LinkChaingIcon from '/assets/icons/link-chain-icon.svg?raw';
import GithubBlackIcon from '/assets/icons/github-black-icon.svg?raw';
import imageUrlBuilder from '@sanity/image-url';
import { sanityClient } from 'sanity:client';
import type { IProjectsData } from '../../../core/types/rest';

interface Props {
	data: IProjectsData;
}

const { data } = Astro.props;

const builder = imageUrlBuilder(sanityClient);

const image: any =
	data.image && builder.image(data.image).width(373).height(260).fit('max').auto('format');
---

<div
	class="max-h-[580px] max-w-[373px] rounded-[20px] bg-[--card-project-background] shadow-card"
	data-aos="fade-up"
>
	<Image
		src={image.url()}
		alt={data.title}
		width="373"
		height="260"
		loading="lazy"
		class="rounded-t-[20px]"
	/>

	<div class="flex flex-col px-[28px]">
		<h3
			class="mt-[20px] line-clamp-1 text-[26px] font-medium text-[--card-title] md:text-[24px] xl:text-[27px]"
		>
			{data.title}
		</h3>
		<p
			class="mt-[17px] line-clamp-6 h-[130px] max-w-[314px] text-[17px] text-[--secondary] md:line-clamp-5 xl:text-[18px]"
		>
			{data.description}
		</p>

		<p class="mt-[17px] line-clamp-1 max-w-[314px] text-[14px] text-[--card-tech]">
			<b>Tech stack</b>: {data.techStack}
		</p>
	</div>

	<div class="mt-[24px] flex items-center justify-between px-[28px] pb-[25px]">
		{
			data.liveLink ? (
				<div class="flex items-center gap-[10px]">
					<span class="linkIcon">
						<Fragment set:html={LinkChaingIcon} />
					</span>

					<p>
						<a
							href={data.liveLink}
							target="_blank"
							class="text-[14px] font-normal text-[--card-project-link] underline xl:text-[16px]"
						>
							Live Preview
						</a>
					</p>
				</div>
			) : (
				<div />
			)
		}

		{
			data.codeLink ? (
				<div class="flex items-center gap-[10px]">
					<span class="githubIcon">
						<Fragment set:html={GithubBlackIcon} />
					</span>
					<p>
						<a
							href={data.codeLink}
							target="_blank"
							class="text-[14px] font-normal text-[--card-project-link] underline xl:text-[16px]"
						>
							View Code
						</a>
					</p>
				</div>
			) : (
				<div />
			)
		}
	</div>
</div>
